<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<TITLE>Dashboard</TITLE>
	</head>
<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">
		<div style="margin-top: 16%; margin-left: 15%">
				<div class="row">
					<a
						href="#{base.getContextPath()}/templates/admin/createUser.xhtml">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="info-box blue-bg">
								<div class="count">REGISTER HEADMASTER</div>
								<div class="title"></div>
							</div>
							<!--/.info-box-->
						</div>
					</a>
					<!--/.col-->

					 <a
						href="#{base.getContextPath()}/templates/admin/usersList.xhtml">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="info-box dark-bg">

								<div class="count">USERS</div>
								<div class="title"></div>
							</div>
							<!--/.info-box-->
						</div>
					</a>


					<!--/.col-->

					<a
						href="#{base.getContextPath()}/templates/admin/userCategories.xhtml">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="info-box green-bg">

								<div class="count">USER CATEGORIES</div>
								<div class="title"></div>
							</div>
							<!--/.info-box-->
						</div>
					</a>
					

				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
