<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<title>user list</title>
	</head>
<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">
		<p:panel header="HEAD MASTER INFORMATION">
			<div class="row">
          <div class="col-lg-8">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <div class="panel-body">
                <div class="form">
                  <h:form class="form-validate form-horizontal" id="feedback_form">
                    <div class="form-group ">
                      <label for="fname" class="control-label col-lg-2">First Name <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{usermanagement.user.fname}" class="form-control" id="fname" name="firstname"  type="text" required="required" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="lname" class="control-label col-lg-2">Last Name <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{usermanagement.user.lname}" class="form-control" id="lname" name="lastname"  type="text" required="required" />
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="gender" class="control-label col-lg-2">Gender <span class="required">*</span></label>
                      <h:selectOneMenu style="appearance: hyperlink" value="#{usermanagement.gender}">
                                    <f:selectItem  itemLabel="Select Gender"  noSelectionOption="true"/>
                                    <f:selectItem  itemLabel="Female"  itemValue="female"/>
                                    <f:selectItem  itemLabel="Male"  itemValue="male"/>
                                    </h:selectOneMenu>
                    </div>
                    
                    <div class="form-group ">
                      <label for="tel" class="control-label col-lg-2">Telephone <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{usermanagement.user.telephone}" class="form-control" id="tel" name="lastname"  type="text" required="required" />
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="tel" class="control-label col-lg-2">e-Mail <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{usermanagement.email}" class="form-control" id="email" name="email"  type="email" required="required" />
                      </div>
                    </div>               
              
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <h:commandButton class="btn btn-primary" action="#{usermanagement.registerUser()}" value="Save"></h:commandButton>
                        <button class="btn btn-default" type="button">Cancel</button>
                      </div>
                    </div>
                  </h:form>
                </div>

              </div>
            </section>
          </div>
        </div>
		</p:panel>
		
		<p:messages></p:messages>
		
		</ui:define>
		
	</ui:composition>
</h:body>
</html>
