<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<title>user list</title>
	</head>
<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">
			<p:panel >
                    <p:dataTable style="width:800px;" id="cat" var="user" value="#{usermanagement.usersList}" rows="10" paginator="true">
                        <f:facet name="header">
                          <h4>USER CATEGORIES/ROLES</h4>
                        </f:facet>
                        <p:column sortBy="#{user.viewId}" style="width:30%">
                            <f:facet name="header">Username</f:facet>
                            <p:outputLabel value="#{user.viewId}"/>
                        </p:column>
                        <p:column >
                            <f:facet name="header">First Name</f:facet>
                            <p:outputLabel value="#{user.fname}"/>
                        </p:column>
                        
                        <p:column >
                            <f:facet name="header">Last Name</f:facet>
                            <p:outputLabel value="#{user.lname}"/>
                        </p:column>
                        
                        <p:column >
                            <f:facet name="header">Category</f:facet>
                            <p:outputLabel value="#{user.userCategory.usercategoryName}"/>
                        </p:column>
                        

                    </p:dataTable>
            </p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
