<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<title>user categories</title>
	</head>
<h:body>
	<ui:composition template="/layouts/adminLayout.xhtml">
		<ui:define name="content">
			<p:panel >
                    <p:dataTable style="width:600px" id="cat" var="category" value="#{usermanagement.userCategories}" rows="10" paginator="true">
                        <f:facet name="header">
                          <h4>USER CATEGORIES/ROLES</h4>
                        </f:facet>
                        <p:column sortBy="#{category.userCatid}">
                            <f:facet name="header">Category Id</f:facet>
                            <h:outputText value="#{category.userCatid}"/>
                        </p:column>
                        <p:column >
                            <f:facet name="header">Category Name</f:facet>
                            <h:outputText value="#{category.usercategoryName}"/>
                        </p:column>

                    </p:dataTable>
            </p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
