<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="student.classification-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/student.classification"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/student.classification.resources"/>
        <property name="java-output-path" value="/classification/build/classes"/>
        <property name="context-root" value="student.classification"/>
    </wb-module>
</project-modules>
