<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="CLAIM INFORMATION">
				<div class="row">
					<div class="col-sm-9 col-md-9 col-lg-9">
						<section class="panel">
							<div class="list-group">
								<a class="list-group-item " href="javascript:;">
									<p class="list-group-item-text">Claimed By:
										#{hecController.claim.student.fname}
										#{hecController.claim.student.lname}</p>
								</a> <a class="list-group-item " href="javascript:;">
									<p class="list-group-item-text">Student's Marks:
										#{hecController.claim.student.myReport.totalMarks}</p>
								</a> <a class="list-group-item " href="javascript:;">
									<p class="list-group-item-text">Students Division:
										#{hecController.claim.student.myReport.division.groupName}
										(#{hecController.claim.student.myReport.division.groupSymbol})</p>
								</a> <a class="list-group-item " href="javascript:;">
									<p class="list-group-item-text">Claimed School:
										#{hecController.claim.claimedSchool.name}</p>
								</a> <a class="list-group-item " href="javascript:;">
									<p class="list-group-item-text">Claimed Combination:
										#{hecController.claim.claimedCombination.name}</p>
								</a> <a class="list-group-item active" href="javascript:;">
									<h4 class="list-group-item-heading">Claimed Reason</h4>
									<p class="list-group-item-text">#{hecController.claim.claimedReason}</p>
								</a>
							</div>
						</section>
					</div>
				</div>
			</p:panel>

			<p:panel>
				<div class="row">
					<div class="col-sm-9 col-md-9 col-lg-9">
						<section class="panel">
							<div class="panel-body">
								<h:form>
									<div class="form-group ">
									<label for="rsn" class="control-label">Response
										Description</label>
									<div class="col-lg-6">
										<h:inputTextarea cols="30" value="#{hecController.feedback}" rows="4" class="form-control"
											type="text" id="rsn" name="rsn" required="required"> </h:inputTextarea>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2">
										<h:commandButton action="#{hecController.acceptClaim(hecController.claim.id)}" styleClass="btn btn-success btn-sm" value="Accept"></h:commandButton>
									</div>	
									<div class="col-sm-2">
										<h:commandButton action="#{hecController.rejectClaim(hecController.claim.id)}" styleClass="btn btn-danger btn-sm" value="Reject"></h:commandButton>
									</div>							
									</div>
								</h:form>
							</div>
						<p:messages></p:messages>
						</section>
					</div>
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
