<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="CLAIMS LIST">
				<div class="row">
					<div class="col-sm-9 col-md-9 col-lg-9">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <p:dataTable class="table table-striped" value="#{hecController.claimsList}" var="claim" paginator="true">
              	<p:column style="width:15%">
              		<f:facet name="header">Student</f:facet>
              		<p:outputLabel>#{claim.student.fname} #{claim.student.lname}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">School</f:facet>
              		<p:outputLabel>#{claim.student.mySchool.name}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Marks</f:facet>
              		<p:outputLabel>#{claim.student.myReport.totalMarks}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Division</f:facet>
              		<p:outputLabel>#{claim.student.myReport.division.groupName} (#{claim.student.myReport.division.groupSymbol})</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Status</f:facet>
              		<p:outputLabel>#{claim.status}</p:outputLabel>
              	</p:column>
              	
              	<p:column>
              		<f:facet name="header">Action</f:facet>
              		<h:form>
              			<h:commandButton value="view more" action="#{hecController.viewClaimDetails(claim.id)}"></h:commandButton>
              		</h:form>
              	</p:column>
              </p:dataTable>
            </section>
          </div>
				</div>
				<p:messages></p:messages>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
