<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header=" COMBINATIONS">


				<div class="row">
					<div class="col-lg-6">
						<section class="panel">
							<header class="panel-heading">
									Create Combination
								 </header>
							<div class="panel-body">
									<h:form>

										<div class="form-group ">
											<label for="name" class="control-label">Name</label>
											<div class="col-lg-6">
												<h:inputText value="#{hecController.combination.name}"
													class="form-control" id="name" name="name" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="abbr" class="control-label">Abbreviation</label>
											<div class="col-lg-6">
												<h:inputText value="#{hecController.combination.abbreviation}"
													class="form-control" id="abbr" name="abbr" type="text"
													required="required" />
											</div>
										</div>

										
										<h:commandButton
											action="#{hecController.createCombination()}"
											value="Record"></h:commandButton>

									</h:form>
								
								
							</div>
						</section>
					</div>
					<div class="col-lg-4">
						<section class="panel">
							<header class="panel-heading">
									Combination List
								 </header>
							<div class="panel-body">
							<p:dataTable value="#{hecController.combinationsList}" var="comb">
								<p:column style="width:75%">
									<f:facet name="header">Name</f:facet>
									<p:outputLabel>#{comb.name}</p:outputLabel>
								</p:column>
								<p:column style="width:25%">
									<f:facet name="header">Abbreviation</f:facet>
									<p:outputLabel>#{comb.abbreviation}</p:outputLabel>
								</p:column>
							</p:dataTable>
							
							</div>
						</section>
					</div>
				</div>
				<p:messages></p:messages>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
