<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="MARKS DIVISION">


				<div class="row">
					<div class="col-lg-5">
						<section class="panel">
							<header class="panel-heading"> Create Marks Division</header>
							<div class="panel-body">
								<div class="form">

									<h:form>

										<div class="form-group ">
											<label for="name" class="control-label">Name</label>
											<div class="col-lg-6">
												<h:inputText value="#{hecController.marksGroup.groupName}"
													class="form-control" id="name" name="name" type="text"
													required="required" />
											</div>
										</div>

										<div>
											<label  class="control-label">Symbol  .</label>
											<h:selectOneMenu id="p" style="appearance: hyperlink"
												value="#{hecController.symbol}">
												<f:selectItem itemLabel="Select Symbol"
													noSelectionOption="true" />
												<f:selectItem itemLabel="I"
													itemValue="I"  />
												<f:selectItem itemLabel="II"
													itemValue="II"  />
												<f:selectItem itemLabel="III"
													itemValue="III"  />
												<f:selectItem itemLabel="IV"
													itemValue="IV"  />
												<f:selectItem itemLabel="U"
													itemValue="U"  />				
											</h:selectOneMenu>
										</div>

										<div class="form-group ">
											<label for="min" class="control-label">Minimum Marks</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.marksGroup.minMarks}"
													class="form-control" id="min" name="min" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="max" class="control-label">Maximum Marks</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.marksGroup.maxMarks}"
													class="form-control" id="max" name="max" type="text"
													required="required" />
											</div>
										</div>


										<h:commandButton action="#{hecController.createMarksGroup()}"
											value="Record"></h:commandButton>

									</h:form>


								</div>

								<p:messages></p:messages>
							</div>
						</section>
					</div>
					<div class="col-lg-6">
						<section class="panel">
							<header class="panel-heading">
									Marks Divisions List
								 </header>
							<div class="panel-body">
							<p:dataTable value="#{hecController.marksGroupsList}" var="division">
								<p:column >
									<f:facet name="header">Name</f:facet>
									<p:outputLabel>#{division.groupName}</p:outputLabel>
								</p:column>
								<p:column style="width:12%">
									<f:facet name="header">Division</f:facet>
									<p:outputLabel>#{division.groupSymbol}</p:outputLabel>
								</p:column>
								<p:column style="width:23%">
									<f:facet name="header">Min Marks</f:facet>
									<p:outputLabel>#{division.minMarks}</p:outputLabel>
								</p:column>
								<p:column style="width:23%">
									<f:facet name="header">Max Marks</f:facet>
									<p:outputLabel>#{division.maxMarks}</p:outputLabel>
								</p:column>
							</p:dataTable>
							
							</div>
						</section>
					</div>
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
