<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="RECORDING MARKS">


				<div class="row">
					<div class="col-lg-8">
						<section class="panel">
							<header class="panel-heading">
								#{hecController.student.fname} #{hecController.student.lname}
								Marks </header>
							<div class="panel-body">
								<div class="form">

									<h:form>

										<div class="form-group ">
											<label for="index" class="control-label">Student Index</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.searchIndex}"
													class="form-control" id="index" name="index" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="maths" class="control-label">Mathematics</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.maths}"
													class="form-control" id="maths" name="maths" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="bio" class="control-label">Biology</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.biology}"
													class="form-control" id="bio" name="bio" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="chem" class="control-label">Chemistry</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.chemistry}"
													class="form-control" id="chem" name="chem" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="phy" class="control-label">Physics</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.physics}"
													class="form-control" id="phy" name="phy" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="geo" class="control-label">Geography</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.geography}"
													class="form-control" id="geo" name="geo" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="hist" class="control-label">History</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.history}"
													class="form-control" id="hist" name="hist" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="kinya" class="control-label">Kinyarwanda</label>
											<div class="col-lg-3">
												<h:inputText value="#{hecController.report.kinya}"
													class="form-control" id="kinya" name="kinya" type="text"
													required="required" />
											</div>
										</div>

										<div class="form-group ">
											<label for="ent" class="control-label">Entrepreneurship</label>
											<div class="col-lg-3">
												<h:inputText
													value="#{hecController.report.entrepreneurship}"
													class="form-control" id="ent" name="ent" type="text"
													required="required" />
											</div>
										</div>



										<h:commandButton
											action="#{hecController.recordMarks()}"
											value="Record"></h:commandButton>

									</h:form>


								</div>
								
								<p:messages></p:messages>
							</div>
						</section>
					</div>
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
