<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="SCHOOLS">
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <p:dataTable class="table table-striped" value="#{hecController.schoolsList}" var="school" paginator="true">
              	<p:column>
              		<f:facet name="header">Index Number</f:facet>
              		<p:outputLabel>#{school.schoolIndexNumber}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Name</f:facet>
              		<p:outputLabel>#{school.name}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Abbreviation</f:facet>
              		<p:outputLabel>#{school.abbreviation}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Telephone</f:facet>
              		<p:outputLabel>#{school.telephone}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Email</f:facet>
              		<p:outputLabel>#{school.email}</p:outputLabel>
              	</p:column>
              </p:dataTable>
            </section>
          </div>
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
