<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>Dashboard</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="STUDENT LIST">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <p:dataTable class="table table-striped" value="#{hecController.studentsList}" var="student" paginator="true">
              	<p:column>
              		<f:facet name="header">Index Number</f:facet>
              		<p:outputLabel>#{student.indexNumber}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">First Name</f:facet>
              		<p:outputLabel>#{student.fname}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Last Name</f:facet>
              		<p:outputLabel>#{student.lname}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">School</f:facet>
              		<p:outputLabel>#{student.mySchool.name}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Applied Combination</f:facet>
              		<p:outputLabel>#{student.applicationCombination.name}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Marks</f:facet>
              		<p:outputLabel>#{student.myReport.totalMarks}</p:outputLabel>
              	</p:column>
              	<p:column>
              		<f:facet name="header">Action</f:facet>
              		<h:form>
              			<h:commandButton value="view more" action="#{hecController.viewStudentMarks(student.indexNumber)}"></h:commandButton>
              		</h:form>
              	</p:column>
              </p:dataTable>
            </section>
          </div>
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
