<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
</head>
<h:body>
	<ui:composition template="/layouts/hecLayout.xhtml">
		<ui:define name="content">
			<p:panel header="VIEW STUDENT MARKS">
				<div class="row">
					<div class="col-lg-8">
						<section class="panel">
							<div class="panel-body">
								<div class="form">
									<h:form class="form-validate form-horizontal"
										id="feedback_form" method="get" action="">
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Index
												Number <span class="required">: </span>
												#{hecController.student.indexNumber}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">First
												Name <span class="required">: </span>
												#{hecController.student.fname}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Last
												Name <span class="required">: </span>
												#{hecController.student.lname}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Desired Combination<span class="required">: </span>
												#{hecController.combination.name} - #{hecController.combination.abbreviation}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">School
												<span class="required">: </span>
												#{hecController.school.name}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Total
												Marks <span class="required">: </span>
												#{hecController.report.totalMarks}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Division
												<span class="required">: </span>
												#{hecController.report.division.groupName} <SPAN>(#{hecController.report.division.groupSymbol})</SPAN>
											</label>
										</div>
									</h:form>
								</div>
							</div>
						</section>

						<section class="panel">
							<header class="panel-heading"> SUBJECT GRADING SUMMARY </header>
							<table class="table">
								<thead>
									<tr>
										<th>Mathematics</th>
										<th>Biology</th>
										<th>Chemistry</th>
										<th>Physics</th>
										<th>Geography</th>
										<th>History</th>
										<th>Ent'Ship</th>
										<th>Kinyarwanda</th>
									</tr>
								</thead>
								<tbody>
									<tr class="success">
										<td>#{hecController.report.maths}</td>
										<td>#{hecController.report.biology}</td>
										<td>#{hecController.report.chemistry}</td>
										<td>#{hecController.report.physics}</td>
										<td>#{hecController.report.geography}</td>
										<td>#{hecController.report.history}</td>
										<td>#{hecController.report.entrepreneurship}</td>
										<td>#{hecController.report.kinya}</td>
									</tr>
								</tbody>
							</table>
						</section>

					</div>
				</div>
			</p:panel>

		</ui:define>
	</ui:composition>
</h:body>
</html>
