<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/admin/adminDashboard.xhtml">
                         
                          <span>Dashboard</span>
                      </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                         
                          <span>Headmasters/Users</span>
                          <b class="caret"></b>
                      </a>
            <ul class="sub">
              <li><a class="" href="#{base.getContextPath()}/templates/admin/createUser.xhtml">Register headmaster</a></li>
              <li><a class="" href="#{base.getContextPath()}/templates/admin/usersList.xhtml">Users' list</a></li>
              <li><a class="" href="#{base.getContextPath()}/templates/admin/userCategories.xhtml">User categories</a></li>
            </ul>
          </li>
          
          <li>
          	<h:form>
          		<h:commandButton value="Create tables" action="#{base.createAllTable()}"> </h:commandButton>
          </h:form>
          </li>
        </ul>
        </div>
	</ui:composition>
</body>
</html>