<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/headMaster/headMasterDashboard.xhtml">
                          <span>Dashboard</span>
                      </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <span>My School</span> <b class="caret"></b>
                      </a>
            <ul class="sub">
              <li><a class="" href="#{base.getContextPath()}/templates/headMaster/createSchool.xhtml">Register School</a></li>
              <li><a class="" href="#{base.getContextPath()}/templates/headMaster/schoolCombinations.xhtml">School Combinations</a></li>
              <li><a class="" href="#{base.getContextPath()}/templates/headMaster/addCombinations.xhtml">HEC Combinations</a></li>
              
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          
                          <span>Our Students</span> <b class="caret"></b>
                          
                      </a>
            <ul class="sub">
              <li><a class="" href="#{base.getContextPath()}/templates/headMaster/createStudent.xhtml">Student Registration</a></li>
              <li><a class="" href="#{base.getContextPath()}/templates/headMaster/studentsList.xhtml">Our Students Result</a></li>
     		 <li><a class="" href="#{base.getContextPath()}/templates/headMaster/appliedStudent.xhtml">Applied Students </a></li>
            </ul>
          </li>
          
        </ul>
        </div>
	</ui:composition>
</body>
</html>