<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/hecDashboard.xhtml">
                          <span>Dashboard</span>
                      </a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/schoolsList.xhtml">Schools list</a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/createCombination.xhtml">Create Combination</a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/createMarksGroup.xhtml">Marks Division</a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/recordingMarks.xhtml">Recording Marks</a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/studentsList.xhtml">Students List</a>
          </li>
          <li class="active">
            <a class="" href="#{base.getContextPath()}/templates/hec/claimsList.xhtml">CLAIMS</a>
          </li>
		</ul>
        </div>
	</ui:composition>
</body>
</html>