<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        
        </div>
	</ui:composition>
</body>
</html>