<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
</head>
<h:body>
	<ui:composition template="/layouts/publicLayout.xhtml">
		<ui:define name="content">
			<p:panel header="CLAIMING FORM">
				<div class="row">
					<div class="col-lg-8">
						<section class="panel">
							<div class="panel-body">
								<div class="form">
									<h:form class="form-validate form-horizontal"
										id="feedback_form" method="get" action="">
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Index
												Number <span class="required">: </span>
												#{publicController.student.indexNumber}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">First
												Name <span class="required">: </span>
												#{publicController.student.fname}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Last
												Name <span class="required">: </span>
												#{publicController.student.lname}
											</label>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Claiming
												to <span class="required">: </span>
											</label>
											<h:selectOneMenu id="sc" style="appearance: hyperlink"
												value="#{publicController.schoolIndexCode}">
												<f:selectItem itemLabel="Select School"
													noSelectionOption="true" />
												<f:selectItems value="#{publicController.schoolsList}"
													var="school" itemValue="#{school.schoolIndexNumber}"
													itemLabel="#{school.name}" />
												<p:ajax
													listener="#{publicController.searchingSchoolCombinations()}"
													update="co" onchange="doSomething" />
											</h:selectOneMenu>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Claiming
												for <span class="required">: </span>
											</label>
											<h:selectOneMenu id="co" style="appearance: hyperlink"
												value="#{publicController.combAbbrev}">
												<f:selectItem itemLabel="Select Combination"
													noSelectionOption="true" />
												<f:selectItems
													value="#{publicController.combinationsList}" var="comb"
													itemValue="#{comb.abbreviation}" itemLabel="#{comb.name}" />
											</h:selectOneMenu>
										</div>
										<div class="form-group ">
											<label for="fname" class="control-label col-lg-4">Reason
												<span class="required">: </span>
											</label>
											<h:inputTextarea value="#{publicController.claim.claimedReason}" cols="50" rows="4"></h:inputTextarea>
										</div>
										<div class="form-group ">
											<center>
												<h:commandButton action="#{publicController.submitClaim()}" value="Submit"></h:commandButton>
											</center>
										</div>
									</h:form>
								</div>
							</div>
						</section>

					</div>
					<div class="col-lg-4">
						<section class="panel" style="margin-top: 20%; margin-left: 15%">
							
							<header class="panel-heading"> DOCUMENTS</header>
							<div class="panel-body">
								<div class="form">
									<a href="#{base.getContextPath()}/public/viewMarks.xhtml">View
										Marks</a> <br /> <br />
								</div>
								<table class="table">
								<thead>
									<tr>
										<th>Claim Info</th>
									</tr>
								</thead>
								<tbody>
									<tr class="success">
										<td>Names: #{publicController.claim.student.fname} #{publicController.claim.student.lname}</td>
									</tr>
									<tr class="active">
										<td>Claimed School: #{publicController.claim.claimedSchool.name}</td>
									</tr>
									<tr class="success">
										<td>Claimed Combination: #{publicController.claim.claimedCombination.name} (#{publicController.claim.claimedCombination.abbreviation})</td>
									</tr>
									<tr class="active">
										<td>Reason: #{publicController.claim.claimedReason}</td>
									</tr>
									<tr class="active">
										<td>Feedback: #{publicController.claim.feedback}</td>
									</tr>
									<tr class="success">
										<td>Status: #{publicController.claim.status}</td>
									</tr>
								</tbody>
							</table>
							</div>
						</section>
					</div>
				</div>
			</p:panel>
			<p:messages></p:messages>
		</ui:define>
	</ui:composition>
</h:body>
</html>
