<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template"/>
  <meta name="author" content="GeeksLabs"/>
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal"/>
  
  <link rel="shortcut icon" href="img/favicon.png" />

  <title>Login</title>

  <!-- Bootstrap CSS -->
  <h:outputStylesheet name="bootstrap.min.css" library="css" />
  <h:outputStylesheet name="main.css" library="css" />
  <h:outputStylesheet name="bootstrap-theme.css" library="css" />
  <h:outputStylesheet name="elegant-icons-style.css" library="css" />
  <h:outputStylesheet name="font-awesome.min.css" library="css" />
  <h:outputStylesheet name="owl.carousel.css" library="css" />
  <h:outputStylesheet name="jquery-jvectormap-1.2.2.css" library="css" />
  <h:outputStylesheet name="fullcalendar.css" library="css" />
  <h:outputStylesheet name="widgets.css" library="css" />
  <h:outputStylesheet name="style.css" library="css" />
  <h:outputStylesheet name="style-responsive.css" library="css" />
  <h:outputStylesheet name="xcharts.min.css" library="css" />
  <h:outputStylesheet name="jquery-ui-1.10.4.min.css" library="css" />
  <h:outputStylesheet name="bootstrap-fullcalendar.css" library="css" />
  <h:outputStylesheet name="fullcalendar.css" library="css" />
  <h:outputStylesheet name="jquery.easy-pie-chart.css" library="css" media="screen" />
  <h:outputStylesheet name="all.css" library="css" />
 
  </h:head>
  <h:body class="login-img3-body">
  
  <ui:composition template="/layouts/publicLayout.xhtml">
		<ui:define name="content">
  		<div class="container">
    <h:form class="login-form" action="index.html">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon">User Name</span>
          <h:inputText type="text" class="form-control" placeholder="Username" autofocus="autofocus" 
          value="#{loginController.user.viewId}"/>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Password</span>
          <h:inputSecret type="password" class="form-control" placeholder="Password" 
          value="#{loginController.user.viewName}"/>
        </div>

            <h:form>
    <h:commandButton class="btn btn-primary btn-lg btn-block" 
    action="#{loginController.validateUsernamePassword()}" value="Login"></h:commandButton>
    <br/> <br/> 
    <center>
    <a href="#{base.getContextPath()}/public/welcomePage.xhtml">View Your Marks Thru this Link</a>
    </center>
    </h:form>
      </div>
      <p:messages></p:messages>
    </h:form>
    

  </div>
  		<h:form>
          		<h:commandButton value="Create tables" action="#{base.createAllTable()}"> </h:commandButton>
          </h:form>
      
  	</ui:define>
  </ui:composition>
  
  <h:outputScript name="jquery.js" library="js" />
 <h:outputScript name="jquery-ui-1.10.4.min.js" library="js" />
 <h:outputScript name="jquery-1.8.3.min.js" library="js" />
 <h:outputScript name="jquery-ui-1.9.2.custom.min.js" library="js" />
 <h:outputScript name="bootstrap.min.js" library="js" />
 <h:outputScript name="jquery.scrollTo.min.js" library="js" />
 <h:outputScript name="jquery.nicescroll.js" library="js" />
 <h:outputScript name="jquery.knob.js" library="js" />
 <h:outputScript name="jquery.sparkline.js" library="js" />
 <h:outputScript name="jquery.easy-pie-chart.js" library="js" />
 <h:outputScript name="owl.carousel.js" library="js" />
 <h:outputScript name="jquery.sparkline.js" library="js" />
 <h:outputScript name="fullcalendar.js" library="js" />
 <h:outputScript name="fullcalendar.min.js" library="js" />
 <h:outputScript name="calendar-custom.js" library="js" />
 <h:outputScript name="jquery.rateit.min.js" library="js" />
 <h:outputScript name="jquery.customSelect.min.js" library="js" />
 <h:outputScript name="Chart.js" library="js" />
 <h:outputScript name="scripts.js" library="js" />
 <h:outputScript name="sparkline-chart.js" library="js" />
 <h:outputScript name="easy-pie-chart.js" library="js" />
 <h:outputScript name="jquery-jvectormap-1.2.2.min.js" library="js" />
 <h:outputScript name="xcharts.min.js" library="js" />
 <h:outputScript name="jquery.autosize.min.js" library="js" />
 
 <h:outputScript name="jquery.placeholder.min.js" library="js" />
 <h:outputScript name="gdp-data.js" library="js" />
 <h:outputScript name="morris.min.js" library="js" />
 <h:outputScript name="sparklines.js" library="js" />
 <h:outputScript name="charts.js" library="js" />
 <h:outputScript name="jquery.slimscroll.min.js" library="js" />
    <h:outputScript>
      //knob
      $(function() {
        $(".knob").knob({
          'draw': function() {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
        $("#owl-slider").owlCarousel({
          navigation: true,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true

        });
      });

      //custom select box

      $(function() {
        $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
      $(function() {
        $('#map').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#000', '#000'],
              normalizeFunction: 'polynomial'
            }]
          },
          backgroundColor: '#eef3f7',
          onLabelShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });
    </h:outputScript>
  </h:body>
  </html>