<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	</head>
<h:body>
	<ui:composition template="/layouts/publicLayout.xhtml">
		<ui:define name="content">
			<p:panel header="VIEW MARKS">
			<div class="row">
          <div class="col-lg-8">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <div class="panel-body">
                <div class="form">
                  <h:form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                    <div class="form-group ">
                      <label for="fname" class="control-label col-lg-2">Index Number <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{publicController.searchKey}" class="form-control" id="fname" name="firstname"  type="text" required="required" />
                      </div>
                    </div>             
              
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <h:commandButton class="btn btn-primary" action="#{publicController.viewMarks()}" value="Submit"></h:commandButton>
                      
                      </div>
                    </div>
                  </h:form>
                </div>
							<p:messages></p:messages>
              </div>
            </section>
          </div>
        </div>
		</p:panel>	
		</ui:define>
	</ui:composition>
</h:body>
</html>
