<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>index</title>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="all.css" library="css" />
	<h:outputStylesheet name="elegant-icons-style.css" library="css" />
</h:head>
<h:body>
	Index Page
	<h1 class="text-danger">IKANZU</h1> <span><i class="icon_building_alt"></i></span>
	
</h:body>
</html>