<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<TITLE>Dashboard</TITLE>
	</head>
<h:body>
	<ui:composition template="/layouts/headMasterLayout.xhtml">
		<ui:define name="content">
		<p:panel header="SCHOOL INFORMATION">
		<div class="row">
          <div class="col-lg-8">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <div class="panel-body">
                <div class="form">
                  <h:form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                    <div class="form-group ">
                      <label for="fname" class="control-label col-lg-2">Name <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.school.name}" class="form-control" id="name" name="firstname"  type="text" required="required" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="lname" class="control-label col-lg-2">Abbreviation</label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.school.abbreviation}" class="form-control" id="lname" name="lastname"  type="text" required="required" />
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="tel" class="control-label col-lg-2">Telephone <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.school.telephone}" class="form-control" id="tel" name="lastname"  type="text" required="required" />
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="tel" class="control-label col-lg-2">e-Mail <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.school.email}" class="form-control" id="email" name="email"  type="email" required="required" />
                      </div>
                    </div> 
                    
                    <div class="form-group">
                    <label for="tel" class="control-label col-lg-2">Location <span class="required">*</span></label>
                   
                    	<h:panelGrid columns="5">
                                <h:selectOneMenu id="p" style="appearance: hyperlink" value="#{headMasterController.provCode}">
                                    <f:selectItem  itemLabel="Select Province"  noSelectionOption="true"/>
                                    <f:selectItems value="#{headMasterController.provinces}" var="prov" itemValue="#{prov.code}" itemLabel="#{prov.name}"/>
                                	<p:ajax listener="#{headMasterController.provinceDitricts()}" update="d" onchange="doSomething"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu id="d" style="appearance: hyperlink" value="#{headMasterController.distrCode}">
                                    <f:selectItem  itemLabel="Select District"  noSelectionOption="true"/>
                                    <f:selectItems value="#{headMasterController.districts}" var="prov" itemValue="#{prov.code}" itemLabel="#{prov.name}"/>
                                	<p:ajax listener="#{headMasterController.districtSectors()}" update="s" onchange="doSomething"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu id="s" style="appearance: hyperlink" value="#{headMasterController.sectCode}">
                                    <f:selectItem  itemLabel="Select Sector"  noSelectionOption="true"/>
                                    <f:selectItems value="#{headMasterController.sectors}" var="sect" itemValue="#{sect.code}" itemLabel="#{sect.name}"/>
                                </h:selectOneMenu>
                    </h:panelGrid>
            
                    </div>             
              
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <h:commandButton class="btn btn-primary" action="#{headMasterController.registerSchool()}" value="Save"></h:commandButton>
                      </div>
                    </div>
                  </h:form>
                </div>
						<p:messages></p:messages>
              </div>
            </section>
          </div>
        </div>
		</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
