<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<head>
	<TITLE>Dashboard</TITLE>
	</head>
<h:body>
	<ui:composition template="/layouts/headMasterLayout.xhtml">
		<ui:define name="content">
		<p:panel header="#{headMasterController.existSchool.abbreviation} STUDENT REGISTRATION">
			<div class="row">
          <div class="col-lg-8">
            <section class="panel">
              <header class="panel-heading">
                
              </header>
              <div class="panel-body">
                <div class="form">
                  <h:form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                    <div class="form-group ">
                      <label for="fname" class="control-label col-lg-2">First Name <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.student.fname}" class="form-control" id="fname" name="firstname"  type="text" required="required" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="lname" class="control-label col-lg-2">Last Name</label>
                      <div class="col-lg-10">
                        <h:inputText value="#{headMasterController.student.lname}" class="form-control" id="lname" name="lastname"  type="text" required="required" />
                      </div>
                    </div>
                    
                    <div class="form-group ">
                      <label for="logo" class="control-label col-lg-2"> School and Combination </label>
                      <h:panelGrid columns="2">
                      	<h:selectOneMenu id="sc" style="appearance: hyperlink" value="#{headMasterController.schoolIndexCode}">
                                    <f:selectItem  itemLabel="Select School"  noSelectionOption="true"/>
                                    <f:selectItems value="#{headMasterController.schoolsList}" var="school" itemValue="#{school.schoolIndexNumber}" itemLabel="#{school.name}"/>
                                	<p:ajax listener="#{headMasterController.searchingSchoolCombinations()}" update="co" onchange="doSomething"/>
                                </h:selectOneMenu>
                                <h:selectOneMenu id="co" style="appearance: hyperlink" value="#{headMasterController.combAbbrev}">
                                    <f:selectItem  itemLabel="Select Combination"  noSelectionOption="true"/>
                                    <f:selectItems value="#{headMasterController.combinationsList}" var="comb" itemValue="#{comb.abbreviation}" itemLabel="#{comb.name}"/>
                                </h:selectOneMenu>
                      </h:panelGrid>
                    </div>
                    
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <h:commandButton class="btn btn-primary" action="#{headMasterController.registerStudent()}" value="Save"></h:commandButton>
                   </div>
                    </div>
                  </h:form>
                </div>
						<p:messages></p:messages>
              </div>
            </section>
          </div>
        </div>
		</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
