<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<TITLE>List of Student</TITLE>
</head>
<h:body>
	<ui:composition template="/layouts/headMasterLayout.xhtml">
		<ui:define name="content">
			<p:panel header="#{headMasterController.existSchool.abbreviation} Combinations List" style="width:75%;">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<section class="panel">
							<header class="panel-heading"> School Combinations </header>
							<div class="panel-body">
								<h:form>
								<p:dataTable value="#{headMasterController.schoolCombinationsList}"
									var="comb">
									<p:column style="width:75%">
										<f:facet name="header">Name</f:facet>
										<p:outputLabel>#{comb.name}</p:outputLabel>
									</p:column>
									<p:column style="width:25%">
										<f:facet name="header">Abbreviation</f:facet>
										<p:outputLabel>#{comb.abbreviation}</p:outputLabel>
									</p:column>
									<p:column style="width:25%">
										<f:facet name="header">Select</f:facet>
										<h:selectBooleanCheckbox value="#{comb.selected}" />
									</p:column>
								</p:dataTable>
								<a href="#{base.getContextPath()}/templates/headMaster/addCombinations.xhtml">Add New</a>
								</h:form>
							</div>
						</section>
					</div>
				</div>
			</p:panel>
			<p:messages></p:messages>
		</ui:define>
	</ui:composition>
</h:body>
</html>
